@model vsports.Models.SeasonOnTournamentsVM.SeasonOnTournamentsVM

@section Styles {
    <link href="~/css/giaidau.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = Model.SeasonOnTournamentsMain.Name;

}

@{
    string preBoard = "A";
}

<div class="row">
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/system/soccer/match/MatchSeason/6861">
                <div class="header">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div class="content">Lịch thi đấu</div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/system/soccer/match/MatchSeason/6861">
                <div class="header">
                    <i class="fa-solid fa-list-ol"></i>
                </div>
                <div class="content">Bảng xếp hạng</div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/system/soccer/match/MatchSeason/6861">
                <div class="header">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <div class="content">Đội bóng</div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/system/soccer/match/MatchSeason/6861">
                <div class="header">
                    <i class="fa-solid fa-table-cells"></i>
                </div>
                <div class="content">Bốc thăm</div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/get/lichthidau/@Model.SeasonOnTournamentsMain.Id">
                <div class="header">
                    <i class="fa-regular fa-image"></i>
                </div>
                <div class="content">Xuất bản ghi</div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="box-quick-link blue-background">
            <a href="/system/soccer/match/MatchSeason/6861">
                <div class="header">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <div class="content">Giải thưởng</div>
            </a>
        </div>
    </div>
</div>
<div class="page-header d-flex justify-content-between mt-4">
    <div class="head-title-left position-relative">
        <h2 class="text-black pt-2">Lịch thi đấu</h2>
    </div>
    <div class="pull-right">
        <ul class="breadcrumb">
            <li>
                <a href="/get/lichthidau/@Model.SeasonOnTournamentsMain.Id">
                    <button class="btn btn-success">
                        <i class="icon-download-alt"></i> Tải lịch thi
                        đấu
                    </button>
                </a>
            </li>
            <li>
                <a href="/system/soccer/match/AddMatch/6861">
                    <button class="btn btn-primary"><i class="icon-plus"></i> Thêm mới</button>
                </a>
            </li>
        </ul>
    </div>
</div>

@{
    int matchCount = 1;
    // Grouping matches by RoundId
    var groupedMatches = Model.MatchScheduleAndResults
        .GroupBy(x => x.RoundId)
        .ToList();
}
<div class="mt-4">
@foreach (var group in groupedMatches)
{
    <div class="box-header blue-background">
        <div class="title">@group.First().Round.RoundName</div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ngày</th>
                <th>Giờ</th>
                <th>Đội chủ nhà</th>
                <th>Tỉ số</th>
                <th>Đội khách</th>
                <th>Sân</th>
                <th>Vòng</th>
                <th>Live</th>
                <th>Trạng thái</th>
                <th>Action</th>
                <!-- Các cột khác -->
            </tr>
        </thead>
        <tbody>
            @foreach (var match in group)
                {
                    
                    <tr>
                    <!-- Hiển thị thông tin của từng trận đấu -->
                    <td>@matchCount</td>
                    <td>@match.Schedule.ToShortDateString()</td>
                    <td>@match.Schedule.ToShortTimeString()</td>
                    <td>@match.SportClub1_Name</td>
                    <td>@match.Winner</td>
                    <td>@match.SportClub2_Name</td>
                    <td>@group.First().Round.RoundName</td>
                    <td>Sân thi đấu</td>
                    <td>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>

                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>

                    </td>
                    <td>
                        <button class="btn btn-info btn-xs has-tooltip"
                                data-placement="top" title="Cập nhật lịch và sân thi đấu" data-original-title="Cập nhật lịch và sân thi đấu">
                            <i class="fa-solid fa-calendar-days"></i>
                            + <i class="icon-location-arrow"></i>
                        </button>
                        <a class="btn btn-success btn-xs has-tooltip" data-placement="top" title="Thông số trận đấu"
                           href="/system/soccer/match/MatchDetail/1059957"
                           data-original-title="Thông số trận đấu">
                            <i class="fa-solid fa-gears"></i> Thông số
                        </a>
                        <a class="btn btn-info btn-xs has-tooltip" data-placement="top" title="Sửa"
                           href="/system/soccer/match/EditMatch/1059957">
                            <i class="fa-solid fa-pen-to-square"></i> Sửa
                        </a>
                        <a class="btn btn-danger btn-xs">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <!-- Các cột khác -->
                </tr>
                preBoard = match.Board.Name;
                matchCount++;
            }
        </tbody>
    </table>
}
</div>

